<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Space Invaders</title>
</head>

<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="scoreboard">
        <div class="textbox">
            <div class="level">Level : 1</div>
            <div class="score">Score : 0</div>
        </div>
        <div class="healthbar">
            <div class="hpcount">HP : 100/1000</div>
            <div class="hpbar"></div>
        </div>
    </div>
    <div class="game" id="game">
        <div class="enemy" id="enemy"></div>
        <div class="space-ship" id="ship"><img src="../assets//sprites/spaceship.png" alt=""></div>
    </div>
</body>



<script src="../scripts/index.js"></script>

</html>